<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Clean Blog</title>

    <!-- Bootstrap Core CSS -->
    <link href="/stylesheets/lib/bootstrap.min.css" rel="stylesheet">


    <!--Loading -->
    <link rel="stylesheet" type="text/css" href="/lib/loading-bar.min.css">

    <!-- Custom CSS -->
    <link href="/stylesheets/lib/clean-blog.css" rel="stylesheet">
    <link href="/stylesheets/signin/animation.css" rel="stylesheet">
	<link href="/stylesheets/signin/checkbox/orange.css" rel="stylesheet">
	<link href="/stylesheets/signin/preview.css" rel="stylesheet">
	<link href="/stylesheets/signin/authenty.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">

    <!-- Custom Fonts -->
     <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,700,300' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="/stylesheets/lib/alertify.min.css" />
    <!-- include a theme -->
    <link rel="stylesheet" href="/stylesheets/lib/default.min.css" />

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!--Angular js -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>

</head>

<body ng-app='BlogApp' ng-controller='MainController'>


    <!--<div class="splash" ng-cloak=""><img src="/images/ajax-loader.gif"></div>-->
   <!--  <img class="load" src="http://smashinghub.com/wp-content/uploads/2014/08/cool-loading-animated-gif-3.gif" /> -->
     <div class="loading-spiner-holder" data-loading >
     <div class="loading-spiner">
        <img class="load" src="/images/Untitled-4.gif" />
     </div>
     </div> 

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" ui-sref='home'>dev Blog </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a ui-sref="home">Home</a>
                    </li>
                    <li>
                        <a ui-sref="about">About</a>
                    </li>
                    <li ng-hide='$root.loggedIn'>
                        <a ui-sref="signin">Sign In</a>
                    </li>
                    <li ng-hide='!$root.loggedIn'>
                        <a ui-sref="signin" ng-click='logout()'>Log Out</a>
                    </li>
                    <li>
                        <a ui-sref="contact">Contact</a>
                    </li>
                    <li ng-hide='!$root.loggedIn'>
                        <a ui-sref="addPost">New Post</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <div ui-view></div>

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <ul class="list-inline text-center">
                        <li>
                            <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                    </ul>
                    <p class="copyright text-muted">Copyright &copy; Your Website 2014</p>
                </div>
            </div>
        </div>
    </footer>


    <!--Socket io-->
    <script src="/socket.io/socket.io.js"></script>

    <!-- jQuery -->
    <script src="/javascripts/lib/jquery.min.js"></script>
    

    <!-- Bootstrap Core JavaScript -->
    <script src="/javascripts/lib/bootstrap.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="/javascripts/lib/clean-blog.min.js"></script>

    <!--ui router-->
    <script type="text/javascript" src='/javascripts/lib/ui-router.js'></script>



    <!--Angular js files -->
    <script type="text/javascript" src="/javascripts/app.js"></script>


    <!--alertify-->
    <script src="/javascripts/lib/alertify.js"></script>
    
    <script type="text/javascript" src="/javascripts/factories/Post.js"></script>
    <script type="text/javascript" src="/javascripts/factories/Socket.js"></script>
    <script type="text/javascript" src="/javascripts/controllers/HomeController.js"></script>
    <script type="text/javascript" src="/javascripts/controllers/PostController.js"></script>
    <script type="text/javascript" src="/javascripts/controllers/AddPostController.js"></script>
    <script type="text/javascript" src='/javascripts/controllers/SignInController.js'></script>
    <script type="text/javascript" src='/javascripts/factories/AuthInterceptor.js'></script>
	<script type="text/javascript" src='javascripts/factories/Authntication.js'></script>
	<script type="text/javascript" src='/javascripts/controllers/MainController.js'></script>
	<script type="text/javascript" src='/javascripts/controllers/SignUpController.js'></script>
    <!--<script type="text/javascript" src='/javascripts/lib/texteditor.js'></script>-->
    <script type="text/javascript" src="/javascripts/directive/loading.js"></script>

    <!-- editor -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/textAngular/1.2.1/textAngular.min.js"></script>
    <script src='http://cdnjs.cloudflare.com/ajax/libs/textAngular/1.2.2/textAngular-sanitize.min.js'></script>


 


    <!--loading -->
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular-animate.js"></script> 
    <script type="text/javascript" src="/lib/loading-bar.min.js"></script>
            
</body>

</html>
