/*body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.newpost {
	background-color: #eaeaea;
}*/

.err {
	background-color:#333333;
	color: white;
}


   .font-bold.bold{font-weight:bold;}.italic{font-style:italic;}.selected{background-color: orange;}#openpb{margin:15px;}

.ta-editor {
    min-height: 300px;
    height: auto;
    overflow: auto;
    font-family: inherit;
    font-size: 100%;
    margin:20px 0;
}


/*Loading*/
.splash {
display: none;
}
 
[ng-cloak].splash {
display: block !important;
}
.splash {
position: absolute;
top: 0;
left: 0;
height:100%;
width:100%;
filter: alpha(opacity=60);
opacity: 0.6;
background: #000;
}
 
.splash h2 {
text-align: center;
font-size: 4em;
color:white;
}


.show {
  display: block;
}

.hide {
  display: none;
}

.load {
  z-index: 10000;
  position: fixed;
  width: 1366px;
  height: 700px;
}
